@charset "utf-8";
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(jquery.bxslider.css);

.wrap .inner{max-width: 70.5%; margin: 0 auto;}
.container{position: relative; width: 100%;}

/* visual */
.visual{position: relative; width: 100%; height: 735px; background: url(../images/gradient-bg.jpg) no-repeat center center / cover;}
.m-visual-bg{display: none;}
.visual-title{position: absolute; top: 40%; left: 9.25%; transform: translate(0, -50%); font-size: 3rem; color: #fff; z-index: 1;}
.visual-title strong{color: #ff646e}
.visual .visual-btn{display: inline-block; position: absolute; top: 60%; left: 9.25%; transform: translate(0, -50%); width: 195px; height: 45px; border-radius: 20px; line-height: 45px; text-align: center; color: #fff; background: rgba(255,255,255,0.3); z-index: 1; transition: all 0.3s ease;}
.visual .visual-btn:hover{color: #ff646e; background: rgba(255,255,255,1); z-index: 1;}

.visual-bg{display: block; width: 100%; height: 735px;}
.visual-bg .bg1{display: block; position: absolute; bottom: 20%; right: 10%; width: 590px; height: 405px; background: url(../images/main-visual1.png) no-repeat;} /* 나중에 bg-size 작업 */
.visual-bg .bg2{display: block; position: absolute; bottom: 10%; right: 35%; width: 354px; height: 207px; background: url(../images/main-visual2.png) no-repeat;} /* 나중에 bg-size 작업 */
.visual-bg .bg3{display: block; position: absolute; top: 15%; right: 10%; width: 282px; height: 230px; background: url(../images/main-visual3.png) no-repeat;} /* 나중에 bg-size 작업 */

/* company */
.company{width: 81.5%; margin: 5% auto 0 auto;} 
.title{position: relative; font-size: 1.5rem; margin: 20px 0;}
.title:after{content: ''; position: absolute; top: 60%; left: 0; width: 90px; height: 10px; background: rgba(255,100,110,0.5); z-index: -1;}

.com-cont{width: 100%;}
.com-cont li{float: left; width: 30%; margin-right: 5%; padding: 4% 2%;}
.com-cont li:last-child{margin-right: 0;}

.com-icon{display: block; width: 139px; height: 146px; margin: 0 auto;}
.com-icon1{background: url(../images/com-icon1.png) no-repeat center;} 
.com-icon2{background: url(../images/com-icon2.png) no-repeat center;}
.com-icon3{background: url(../images/com-icon3.png) no-repeat center;}

.com-cont .tit{margin: 15px 0; text-align: center; font-size: 1.2rem;}
.com-cont .tit strong{color: #ff646e}
.com-cont .txt{font-size: 1rem; line-height: 1.8; color: #555;}

/* business */
.business{width: 81.5%; margin: 0 auto 5% auto;}
.bus-cont-wrap article:hover .bus-img{transform: scale(1.2);}
.bus-cont-wrap article:hover .img-wrap:after{opacity: 0.5;}
.bus-cont-wrap article:hover .img-wrap .btn{opacity: 1;}

.chemical{float: left; width: 50%; margin: 0 10% 5% 0;}
.steel{float: right; width: 40%; margin: 10% 0 10% 0;}
.automotive{float: left; width: 50%; margin-right: 10%;}
.coal{float: right; width: 40%;}

.img-wrap{overflow: hidden; position: relative; width: 100%;}
.img-wrap:after{content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #0e2980; opacity: 0; transition: all 0.5s ease;}
.img-wrap .btn{display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 130px; height: 130px; border-radius: 50%; background: url(../images/sprites.png) no-repeat; z-index: 1; opacity: 0; transition: all 0.5s ease;}
.img-wrap .btn1{background-position: -230px -210px;}
.img-wrap .btn2{background-position: -363px -210px;}
.img-wrap .btn3{background-position: -496px -210px;}
.img-wrap .btn4{background-position: -629px -210px;}

.bus-cont .bus-img{width: 100%; transition: all 0.5s ease;}
.bus-cont .tit{margin-top: 3%; font-size: 1.5rem;}
.bus-cont .tit strong{color: #ff646e;}
.bus-cont .txt{font-size: 1rem; line-height: 1.8; color: #555;}

/* press */
.press{position: relative; width: 100%; padding: 3% 0; background: #f4f4f4;}
.press .title{position: relative; margin-left: 9.25%; z-index: 1;}

.press-list{width: 81.5%; margin: 0 auto;}
.press-list li{margin-bottom: 10px; box-shadow: 5px 5px 10px rgba(0,0,0,0.3); background: #fff; transition: all 0.5s ease;}
.press-list li:hover{box-shadow: 5px 5px 10px rgba(0,0,0,0);}
.press-list li.eff-none{margin-right: 0;}

.press-top{overflow: hidden; width: 100%;}
.press-top img{width: 100%;}
.press-bot{width: 100%; padding: 3% 5%;}
.press-bot .tit{font-size: 1.2rem;}
.press-bot .date{font-size: 1rem; color: #ff646e;}

/* public */
.public-wrap{width: 100%; padding-top: 3%;}
.public{width: 81.5%; margin: 0 auto;}
.public-cont li{display: none; margin-bottom: 5%;}
.public-cont li.on{display: block;}

.youtube-wrap{position: relative; margin-bottom: 5%; padding-bottom: 56.25%;}
.youtube-wrap iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.sub-tit{float: left; width: 50%; padding: 0 3%;}
.sub-tit h4{font-size: 1.5rem;}

.subinfo{float: left; width: 50%; padding: 0 3%; border-left: 1px solid #ff646e;}
.info-btn{float: right;}
.info-btn.on + .subinfo-txt{display: none;}
.info-btn.on .btn-icon{width: 13px; height: 10px; background: url(../images/sprites.png) no-repeat -770px 0;}
.info-btn .btn-icon{display: inline-block; width: 11px; height: 11px; background: url(../images/sprites.png) no-repeat -789px 0;}
.info-btn .btn-txt{font-size: 0.9rem;}
.subinfo-txt{padding-top: 40px; font-size: 1rem; color: #555;}

.public-list-wrap{width: 100%; padding: 5% 0; background: #f4f4f4;}
.public-list{width: 81.5%; margin: 0 auto;}

.public-sub li{float: left; width: 22%; margin-right: 4%; background: url(../images/gradient-bg.jpg) no-repeat; background-size: 100% 100%;}
.public-sub li:last-child{margin-right: 0;}
.public-sub li a{display: block; width: 100%; height: 100%; padding: 30% 5%; text-align: center; font-size: 1rem; color: #fff;}
.public-sub li a .play-btn{display: block; width: 25px; height: 36px; margin: 0 auto 20px auto; background: url(../images/sprites.png) no-repeat -743px -77px;}

.public-sub li.on{box-shadow: 5px 5px 0 0 #ff646e}

/* 1280 PC */
@media screen and (max-width : 1280px){
	.wrap .inner{max-width: 100%}
	/* container */
	/* visual */
	.visual-title{position: absolute; top: 40%; left: 5%;}
	.visual .visual-btn{position: absolute; top: 60%; left: 5%;}
	
	.visual-bg .bg1{position: absolute; bottom: 30%; right: 5%; width: 400px; height: 300px; background-size: contain;} 
	.visual-bg .bg2{position: absolute; bottom: 25%; right: 30%; width: 200px; height: 100px; background-size: contain;} 
	.visual-bg .bg3{position: absolute; top: 15%; right: 5%; width: 200px; height: 150px; background-size: contain;}
}

/* 1024 타블렛 */
@media screen and (max-width : 1024px){
	/* 폰트 사이즈 */
	html, body, input{font-size: 14px;}

	/* container */
	/* visual */
	.visual{height: 500px;}
	.visual-bg{height: 500px;}
	.visual-bg .bg1{position: absolute; bottom: 20%; right: 5%; width: 400px; height: 300px; background-size: contain;} 
	.visual-bg .bg2{position: absolute; bottom: 15%; right: 30%; width: 200px; height: 100px; background-size: contain;} 
	.visual-bg .bg3{position: absolute; top: 10%; right: 5%; width: 200px; height: 150px; background-size: contain;}
	.visual .visual-btn:hover{color: #fff; background: rgba(255,255,255,0.3);}

	/* business */
	.img-wrap:after{display: none;}
	.img-wrap .btn{display: none;}

	/* footer */
	.cont-left{width: 30%;}
	.cont-mid{width: 70%;}
	.cont-right{display: none;}
}

/* 768 타블렛 */
@media screen and (max-width : 768px){
	/* header */
	.header{height: 50px;}
	.logo a img{width: 50%;}
	.lang img{width: 80%;}

	.lines .line1{width: 30px; margin-bottom: 8px;}
	.lines .line2{width: 30px; margin-bottom: 8px;}
	.lines .line3{width: 30px;}

	.lang-wrap{position: absolute; top: 60px;}

	/* container */
	/* visual */
	.visual{height: auto; background: none;}
	.m-visual-bg{display: block;}
	.m-visual-bg img{width: 100%;}

	.visual-title{position: absolute; top: 30%; left: 5%;}
	.visual .visual-btn{position: absolute; top: 45%; left: 5%;}

	.visual-bg{display: none;}

	/* company */
	.com-cont li{width: 100%; margin-right: 0;}

	.com-icon1,
	.com-icon2,
	.com-icon3{background-size: 80%;}

	/* public */
	.public-sub li{width: 48%; margin: 0 4% 20px 0;}
	.public-sub li:nth-of-type(2),
	.public-sub li:nth-of-type(4){margin-right: 0;}
	.public-sub li a{display: block; width: 100%; height: 100%; padding: 30% 5%; text-align: center; font-size: 1rem; color: #fff;}
	.public-sub li a .play-btn{display: block; width: 25px; height: 36px; margin: 0 auto 20px auto; background: url(../images/sprites.png) no-repeat -743px -77px;}

	/* footer */
	.cont-left{display: none;}
	.cont-mid{width: 100%;}
}

/* 568 모바일 */
@media screen and (max-width : 568px){
	/* container */
	/* visual */
	.visual-title{position: absolute; top: 35%; font-size: 2rem;}
	.visual .visual-btn{position: absolute; top: 55%; width: 165px;}

	/* public */
	.public-sub li{width: 100%; margin-bottom: 20px;}
	.public-sub li:last-child{margin-bottom: 0;}
	.public-sub li a{padding: 5% 5%;}
	.public-sub li a .play-btn{margin: 0 auto 10px auto;}

	/* business */
	.business{width: 81.5%; margin: 0 auto 5% auto;}

	.chemical{width: 100%; margin: 0 0 5% 0;}
	.steel{width: 100%; margin: 0 0 5% 0;}
	.automotive{width: 100%; margin: 0 0 5% 0;}
	.coal{width: 100%; margin: 0;}

	/* press */
	.press-bot .tit{font-size: 1rem;}
	.press-bot .date{font-size: 0.8rem;}
}

/* 336 모바일 */
@media screen and (max-width : 336px){
	/* container */
	/* visual */
	.visual-title{position: absolute; top: 35%; font-size: 2rem;}
	.visual .visual-btn{position: absolute; top: 70%; width: 165px;}
}

/* width-450, height-762 gnb */
@media screen and (max-width : 450px){
	/* gnb */
	.gnb-wrap{position: relative;}
	.gnb{width: 100%;}

	.close-btn{position: absolute; top: 5%; right: 10%;}

	.gnb-list{padding: 25% 0;}
	.sub-title{padding: 20px 0 20px 15%;}

	.submenu{display: none; padding-left: 18%;}
	.gnb-bot{position: relative; left: 15%; width: 50%; padding: 20px 0;}
}